
@{
    ViewData["Title"] = "Index";
}
<div class="card text-center">
    <div class="card-header">
        - WELCOME -
    </div>
    <div class="card-body bgImage">
            <h1 class="card-title" style="color: white;">SUPER HEREO CATALOG</h1>
            <p class="card-text" style="color: white;">A place to keep track all of your favorite Super Heros</p>
    </div>
    <div class="card-footer text-muted">
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="SuperHero" asp-action="Catalog">Enter Catalog</a>
    </div>
</div>


